.logo img{
    
    z-index: 10; 
    width: 130px;
    position: absolute;
    left: 45%;
    top: 4%;
    padding: 10px;
    !border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    top: 0px;
    
}


.circle_for_div {
  border:2px solid black;
  margin:5%;
  margin-top: 2%;
  height:20%;
  border-radius:25px;
  background: black;
}

.logo_emailInput {
  text-align:center;
}



section-banner-box::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../img/background/dotted-overlay.png) center center repeat;
    background-color: rgba(0,0,0,0.30);
}


.section-banner-box {
    position: relative;
    padding: 100px 0px;
    color: #ffffff;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}



.icono-servicio {
    margin: 10px;
    width: 90px;
    height: 90px;
    color: white;
    !padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    
    
}

.red-social {
    font-size: 30px;
    width: 40px;
    height: 40px;
    padding-top: 0px;
    text-align: center;
}


.botones-nav {
    margin-right: 0px;
    width: 150px;
    text-align: center;
}

.ending-logo {
    width: 300px;
    padding: 19px;
}

.suscribete-newsletter-texto{
    margin-top:20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}



.div-email{
    width: 450px;  
}

.lado-izquierdo-boton-1 {
    
    background-color: white;
    background-color: black;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 13px;
    z-index: 9;
    position: fixed;
    float: left;
    top: 0px;
    left: 0px;
    text-align: center;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: white;
}

.lado-izquierdo-boton-2 {
    
    background-color: white;
    background-color: black;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 13px;
    z-index: 9;
    position: fixed;
    clear: left;
    top: 0px;
    left: 76px;
    text-align: center;

    
}

.icon-navbar {
    color: white;
    font-size: 20px;
    padding-left: 6px;
    margin-right: 20px;
}

.list-inline-item {
    color: #ffffff;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    !border-style: solid;
    border-radius: 50%;
    background: radial-gradient(rgba(255,255,255, 0.8) 5%, rgba(255,255,255, 0.5) 70%, rgba(255,255,255, 0.1) 100%);
    !background-blend-mode: screen;
    
}

